body {
	background-image: url('../img/mario-bg.png');
/*	background-repeat: repeat-y;*/
	height: 100%;

}

.container {
	text-align: center;
	display: inline-block;
	width: 100%;
}

.game-board {
	width: 468px;
	height: 468px;
	font-size: 0;
	display: inline-block;
	border: 30px solid green;
	border-style: ridge;
	margin: 0 auto;
	text-align: center;
}

.game-square {
	width: 150px;
	height: 150px;
	border: 3px solid black;
	display: inline-block;
	font-size: 150px;
	color: white;
	vertical-align: top;
	text-shadow: 10px 10px 30px black, -10px -10px 30px black;
	background-image: url("../img/coin-block.jpg");
	cursor: pointer;
	
}

/*#game-square:hover {
	background-image: url('../img/coin-block-hover.jpg');
}*/

.scoreboard {
	font-family: 'press_start_2pregular';
	color: white;
	text-shadow: 3px 3px black;
	display: inline-block;
	margin-top: 8px;
}

#xScore {
	float: left;
	margin-left: 20px;
}

#oScore {
	float: right;
	margin-right: 35px
}

#whoseTurn {
	font-size: 20px;
	margin-bottom: 5px;
}

h1 {
	font-family: 'press_start_2pregular';
	font-size: 50px;
	color: white;
	margin: 20px 0;
	text-shadow: 5px 5px black;
}

button {
	border-radius: 5px;
	background-image: url('../img/mario-brick.png');
	color: white;
	font-family: 'press_start_2pregular';
	text-shadow: 3px 3px black;
	color: white;
	padding: 15px 30px;
	margin: 5px 10px;
	display: inline-block;
	letter-spacing: 1px;
}

.X {
	background-image: url('../img/empty-mushroom.png');
}

.O {
	background-image: url('../img/empty-coin.png');
}