<!DOCTYPE html>

<html ng-app="TicTacToe">
	<head>
		<meta charset="utf-8">

		<title>Tic Tac Toe</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/stylesheet.css">
		
		<script src="js/angular.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/BoardManager.js"></script>
		<script src="js/TicTacToeController.js"></script>
	</head>

	<body ng-controller="TicTacToeController as tic">
		<div class="container">
			<span class="scoreboard" id="left">X Score: 0</span>
			<span class="scoreboard" id="right">O Score: 0</span>
			<header>
				<br>
				<h1 id="banner">TIC TAC MARIO</h1>
				<span class="scoreboard" id="whoseTurn">X Goes First!</span>
			</header>
			<main>
				<div class="game-board">
					<div class="game-square" 
					ng-repeat="square in tic.board.mario.array track by $index"
					ng-click="tic.board.isActive($index)">
					<!-- ng-class="tic.board.getSquareState($index)" -->
					{{tic.board.mario.array[$index]}}</div>
				</div><br>
				<button ng-click="tic.board.clearBoard()">START OVER</button>
			</main>
		</div>
	</body>
</html>
